body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg");
	background-position: center center;
	
	background-size: cover;
	
}
.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 350px;
	padding: 80px 40px;
	background: rgba(40,57,101,.9);
}

.contact-form span {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
    font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}
.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-form input {
	width: 100%;
	margin-bottom: 20px;
}
.contact-form input[type=username], .contact-form input[type=password] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.contact-form input[type=submit] {
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: blue;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 5px;
}
.contact-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
hr{
    margin-top: 10px;
}
input[type=checkbox] {
	width: 10%;
    margin: 0;
}   